@font-face {
  font-family: "Marcellus";
  src: url("/fonts/Marcellus/Marcellus-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.social-section {
  width: 100vw;
  margin-left: .5rem;
  box-sizing: border-box;
  padding: 2rem 1rem;
  background: #0c0c0c;
  overflow-x: hidden;

}

.ig-gallery {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
}
.instagram-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-family: 'Marcellus', serif;
  font-weight: 600;
  font-size: 2rem;
  color: white;
  margin: 0 0 10px 0;
}

.instagram-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.instagram-icon {
  width: 1.5em;
  height: 1.5em;
  fill: white;
}

.ig-gallery a {
  flex: 0 0 auto;
  scroll-snap-align: center;
}

.ig-gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.ig-gallery::-webkit-scrollbar {
  display: none; /* hide scrollbar for clean look */
}

.ig-gallery * {
  font-family: 'Marcellus', serif;
}
@media (max-width: 390px) {
  .ig-gallery img {
    height: 400px;
      
  }
  .ig-gallery {
  max-width: 100%;
  overflow-x:auto;
  padding: .5rem;
  }
  .instagram-link {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  .instagram-text {
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}}
@media (max-width:428px){
   .ig-gallery img {
    height: 400px;
  }
  .instagram-link {
flex-direction: column;
align-items: center;
text-align: center;
}}
@media (max-width:768px){
   .ig-gallery img {
    height: 400px;
  }
}
@media (max-width:820px){
   .ig-gallery img {
    height: 400px;
  }
}
@media (max-width:950px){
   .ig-gallery img {
    height: 400px;
  }
}
@media (max-width:1024px){
   .ig-gallery img {
    height: 400px;
  }
}
@media (max-width:1440px){
   .ig-gallery img {
    height: 400px;
  }
}





